body {
  margin: 0;
  font-family: sans-serif;
}

.toolbar {
  width: 180px;
  background: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.tool {
  background: #444;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  cursor: grab;
  transition: background 0.2s;
}

.tool:hover {
  background: #666;
}

/* کمک می‌کند مربع‌ها واقعا از درگ نود معاف شوند */
.nodrag {
  pointer-events: all;
}